################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Demo.Web/.vs
/src/Demo.Web/Demo.Web/App_Data
/src/Demo.Web/Demo.Web/bin/Debug/net8.0
/src/Demo.Web/Demo.Web/Localization
/src/Demo.Web/Demo.Web/obj
/src/framework/GlueFramework.AuditLog.Abstractions/bin/Debug/net8.0
/src/framework/GlueFramework.AuditLog.Abstractions/obj
/src/framework/GlueFramework.AuditLogModule/obj
/src/framework/GlueFramework.Core/bin/Debug/net8.0
/src/framework/GlueFramework.Core/obj
/src/framework/GlueFramework.OrchardCore.Observability/bin/Debug/net8.0
/src/framework/GlueFramework.OrchardCore.Observability/obj
/src/framework/GlueFramework.OrchardCoreModule/bin/Debug/net8.0
/src/framework/GlueFramework.OrchardCoreModule/obj
/src/framework/GlueFramework.OutboxModule/obj
/src/framework/GlueFramework.WebCore/bin/Debug/net8.0
/src/framework/GlueFramework.WebCore/obj
/src/framework/OrchardCore.Cms.GlueFrameworkModule/obj
/src/modules/Demo.CustomModule/bin/Debug/net8.0
/src/modules/Demo.CustomModule/obj
/src/modules/Demo.DDD.OrchardCore/bin/Debug/net8.0
/src/modules/Demo.DDD.OrchardCore/obj
/src/modules/OrchardCore.Cms.Module1/obj
/src/modules/OrchardCore.MultiTenant.Migration/bin/Debug/net8.0
/src/modules/OrchardCore.MultiTenant.Migration/obj
/src/tests/GlueFramework.CoreTests/bin/Debug/net8.0
/src/tests/GlueFramework.CoreTests/obj
/src/tests/OrchardCore.Cms.Module1Tests/obj
/src/framework/GlueFramework.OutboxModule/bin/Debug/net8.0
/src/framework/GlueFramework.AuditLogModule/bin/Debug/net8.0
